.section {
	&__wrapper {
		@apply flex flex-col justify-center;
	}

	&__container {
		@apply z-20 py-24 container mx-auto px-4;

		&--small-padding-top {
			@apply pt-2;
		}

		@screen md {
			@apply px-0;
		}
	}

	&__background {
		min-height: 80vh;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		clip-path: polygon(0 0, 100% 0, 100% 24%, 0 60%);

		canvas {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			clip-path: polygon(0 0, 100% 0, 100% 34%, 0 77%);
		}
	}

	&__start {
		position: relative;
		color: black;
	}

	&__dark {
		@apply py-6;
		background-color: #1a1527;
		color: white;
	}
}