/.phpunit.cache
/laravel-api/node_modules
/laravel-api/public/build
/laravel-api/public/hot
/laravel-api/public/storage
/laravel-api/storage/*.key
/laravel-api/vendor
/laravel-api/.env
/laravel-api/.env.backup
/laravel-api/.env.production
/laravel-api/.phpunit.result.cache
/laravel-api/Homestead.json
/laravel-api/Homestead.yaml
/laravel-api/auth.json
/laravel-api/npm-debug.log
/laravel-api/yarn-error.log
/laravel-api/.fleet
/laravel-api/.idea
/laravel-api/.vscode
.idea/*
*.jpg
