.collab {
	&__container {
		@apply container mx-auto flex flex-col mt-8 gap-8;

		@screen md {
			@apply gap-20 flex flex-row px-28;
		}

		@screen lg {
			@apply px-20 gap-8;
		}
	}

	&__box {
		@apply flex flex-col shadow-lg w-full;

		@screen md {
			@apply min-h-64;
		}

		&:not(.collab__box--empty):hover {
			box-shadow: 4px 21px 44px -13px rgba(0, 0, 0, .75);
		}

		&--empty {
			@apply hidden;
			box-shadow: none;

			@screen lg {
				@apply block;
			}
		}
	}

	&__background {
		@apply p-4 h-full flex flex-col justify-center;

		background: url('~/assets/images/offer-bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;

		@screen md {
			@apply p-0;
		}

		@screen lg {
			@apply p-7;
		}

		&--on-demand {
			background-image: url('~/assets/images/demand.jpg');
		}

		&--seo {
			background-image: url('~/assets/images/seo.jpg');
		}

		&::after {
			@apply z-10;
			content: '';
			position: absolute;
			inset: 0;
			background-image: linear-gradient(65deg, rgba(16, 9, 27, .8), transparent 50%);
		}
	}

	&__content {
		@apply z-20 relative;

		@screen md {
			@apply -left-24;
		}
	}
}