.title {
	&--condensed {
		font-family: 'Roboto Condensed';
		font-weight: 700;
	}

	&--large {
		font-size: 2em;
	}

	&--x-large {
		@apply mb-4 text-4xl;

		@screen md {
			@apply text-5xl;
		}

		@screen lg {
			@apply text-6xl;
		}
	}

	&--slide-from-bottom {
		position: relative;
		overflow-y: hidden;

		& > span,
		& > a {
			display: block;
			transform: translateY(100%);
		}

		button {
			transform: translateY(110%);
		}

		&.element--visible {
			& > span,
			& > button,
			& > a {
				transition: .3s transform .3s;
				transform: translateY(0);
			}
		}
	}

	&--slide-from-left {
		position: relative;
		overflow-x: hidden;

		span {
			display: block;
			transform: translateX(-100%);
			opacity: 0;
		}

		&.element--visible {
			span {
				transition: transform .3s, opacity .6s;
				transform: translateX(0);
				opacity: 1;
			}
		}
	}
}